#header {
    background-color: #0096d6;
    width: 960px;
    height: 75px;
    position: absolute;
}
#searchBox {
    border-style: solid;
    border-color: #4B7B9F;
    border-width: 1px;
    position: absolute;
    margin-left: 690px;
    margin-top: 21px;
    height: 30px;
    border-radius: 5px;
}
#headerLogoPic {
    position: absolute;
    height: 61px;
    width: 119px;
    margin-left: 23px;
    margin-top: 7px;
}
#footer {
    background-color: teal;
    width: 960px;
    height: 35px;
    position: absolute;
    margin-top: 925px;
}
#footerPic {
    height: 35px;
    width: 960px;
    margin: 0px;
}
body h1 {
    position: absolute;
    margin-top: 130px;
    margin-left: 10px;
    width: 220px;
    height: 30px;
    font-size: 24px;
    border-bottom: 3px solid #0096d6;
}
body ul {
    position: absolute;
    margin-top: 170px;
    margin-left: 50px;
    width: 220px;
    height: 30px;
    font-size: 18px;
}
body ul li {
    margin-top: 10px;
    list-style-type: none;
    before
}
body ul li:before {
    content: "-";
    width: 1px;
    margin-right: 5px;
}
#horizontalBar {
    position: absolute;
    background-color: #0096d6;
    width: 3px;
    height: 760px;
    margin-top: 85px;
    margin-left: 250px;
}
#trendingSidebarBackground {
    position: absolute;
    background-color: #0096d6;
    margin-left: 10px;
    margin-top: 550px;
    border-radius: 5px;
    height: 300px;
    width: 220px;
}
#trendingSidebar h1 {
    position: absolute;
    margin-top: 495px;
    margin-left: 10px;
    width: 220px;
    height: 30px;
    font-size: 24px;
    border-bottom: 3px solid #0096d6;
}
#scrollableHomeFeedHeader {
    position: absolute;
    margin-top: 220px;
    margin-left: 260px;
    width: 690px;
    height: 32px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#scrollableHomeFeed {
    position: absolute;
    margin-top: 252px;
    margin-left: 260px;
    width: 690px;
    height: 233px;
    overflow: auto;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#unansweredScrollableHeader {
    position: absolute;
    margin-top: 525px;
    margin-left: 260px;
    width: 340px;
    height: 32px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#unansweredScrollable {
    position: absolute;
    margin-top: 557px;
    margin-left: 260px;
    width: 340px;
    height: 338px;
    overflow: auto;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#recentlyAnsweredScrollableHeader {
    position: absolute;
    margin-top: 525px;
    margin-left: 610px;
    width: 340px;
    height: 32px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#recentlyAnsweredScrollable {
    position: absolute;
    margin-top: 557px;
    margin-left: 610px;
    width: 340px;
    height: 338px;
    overflow: auto;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#upvotesDiv {
    margin: 0px;
    padding: 0px;
    background-color: solid blue;
}
#upvotesCell {
    margin: 0px;
    padding: 0px;
    background-color: solid blue;
}
#askItButton {
    position: absolute;
    margin-top: 85px;
    margin-left: 260px;
}
td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#unansweredScrollableHeader {
    position: absolute;
    margin-top: 525px;
    margin-left: 260px;
    width: 340px;
    height: 32px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#unansweredScrollable {
    position: absolute;
    margin-top: 557px;
    margin-left: 260px;
    width: 340px;
    height: 338px;
    overflow: auto;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#recentlyAnsweredScrollableHeader {
    position: absolute;
    margin-top: 525px;
    margin-left: 610px;
    width: 340px;
    height: 32px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#recentlyAnsweredScrollable {
    position: absolute;
    margin-top: 557px;
    margin-left: 610px;
    width: 340px;
    height: 338px;
    overflow: auto;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#upvotesDiv {
    margin: 0px;
    padding: 0px;
    height: 125px;
}
#upvotesCell {
    margin: 0px;
    padding: 0px;
}
#upArrow {
    position: absolute;
    margin-top: 25px;
    margin-left: 5px;
}
#downArrow {
    position: absolute;
    margin-top: 75px;
    margin-left: 5px;
}
#upvotesText {
    position: absolute;
    font-size: 18px;
    margin-top: 53px;
    margin-left: 3px;
    width: 24px;
    text-align: center;
}
#topicUnansweredScrollableHeader {
    position: absolute;
    margin-top: 280px;
    margin-left: 260px;
    width: 340px;
    height: 32px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#topicUnansweredScrollable {
    position: absolute;
    margin-top: 312px;
    margin-left: 260px;
    width: 340px;
    height: 548px;
    overflow: auto;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#topicRecentlyAnsweredScrollableHeader {
    position: absolute;
    margin-top: 280px;
    margin-left: 610px;
    width: 340px;
    height: 32px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#topicRecentlyAnsweredScrollable {
    position: absolute;
    margin-top: 312px;
    margin-left: 610px;
    width: 340px;
    height: 548px;
    overflow: auto;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#nameBox {
    font-size: 36px;
    position: absolute;
    margin-left: 390px;
    margin-top: 105px;
}
#jobBox {
    font-size: 14px;
    position: absolute;
    margin-top: 145px;
    margin-left: 390px;
}
#orgBox {
    font-size: 14px;
    position: absolute;
    margin-top: 175px;
    margin-left: 390px;
}
#descriptionBox {
    position: absolute;
    margin-top: 250px;
    margin-left: 260px;
    height: 120px;
    width: 690px;
    text-align: center;
    font-size: 24px;
}
#expertiseBox {
    position: absolute;
    margin-top: 380px;
    margin-left: 260px;
    height: 60px;
    width: 690px;
    text-align: center;
    font-size: 24px;
}
#interestBox {
    position: absolute;
    margin-top: 460px;
    margin-left: 260px;
    height: 60px;
    width: 690px;
    text-align: center;
    font-size: 24px;
}
#profilePic {
    position: absolute;
    margin-left: 260px;
    margin-top: 95px;
}
.TextShort {
    width: 690px;
    height: 30px;
    resize: none;
    font-size: 18px;
    overflow-y: scroll;
}
#subscribedTopicsScrollable {
    position: absolute;
    margin-top: 580px;
    margin-left: 260px;
    width: 210px;
    height: 310px;
    overflow: auto;
    border: 1px solid black;
}
#questionsAskedHeader {
    position: absolute;
    margin-top: 580px;
    margin-left: 490px;
    width: 220px;
    height: 32px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#questionsAskedScrollable {
    position: absolute;
    margin-top: 612px;
    margin-left: 490px;
    width: 220px;
    height: 278px;
    overflow: auto;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#questionsAnsweredHeader {
    position: absolute;
    margin-top: 580px;
    margin-left: 730px;
    width: 220px;
    height: 32px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#questionsAnsweredScrollable {
    position: absolute;
    margin-top: 612px;
    margin-left: 730px;
    width: 220px;
    height: 278px;
    overflow: auto;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#questionPage {
    position: absolute;
    margin-top: 85px;
    margin-left: 260px;
    width: 650px;
    height: 130px;
}
#questionPage h1 {
    margin: 0px;
    height: 30px;
    width: 440px;
    font-size: 24px;
    border-bottom: 3px solid #0096d6;
}
#questionPage textarea {
    width: 650px;
    height: 90px;
    font-size: 16px;
    margin-top: 40px;
    resize: none;
    overflow-y: scroll;
    overflow-x: auto;
}
#questionDescriptionBox {
    position: absolute;
    margin-top: 225px;
    margin-left: 260px;
    width: 650px;
    height: 340px;
}
#questionDescriptionBox h1 {
    margin: 0px;
    height: 30px;
    width: 440px;
    font-size: 24px;
    border-bottom: 3px solid #0096d6;
}
#questionDescriptionBox textarea {
    width: 650px;
    height: 300px;
    margin-top: 40px;
    font-size: 12px;
    resize: none;
    overflow-y: scroll;
    overflow-x: auto;
}
#questionTagBox {
    position: absolute;
    margin-top: 575px;
    margin-left: 260px;
    width: 650px;
    height: 70px;
}
#questionTagBox h1 {
    margin: 0px;
    height: 30px;
    width: 440px;
    font-size: 24px;
    border-bottom: 3px solid #0096d6;
}
#questionTagBox textarea {
    width: 650px;
    height: 30px;
    margin-top: 40px;
    font-size: 12px;
    resize: none;
    overflow-y: scroll;
    overflow-x: auto;
}
#scrollableHomeFeed td button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*border is optional*/
    border-bottom: 0px solid #444;
    cursor: pointer;
    width: 550px;
    height: 125px;
    text-align: left;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
}
#unansweredScrollable td button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*border is optional*/
    border-bottom: 0px solid #444;
    cursor: pointer;
    width: 200px;
    height: 125px;
    text-align: left;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
}
#recentlyAnsweredScrollable td button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*border is optional*/
    border-bottom: 0px solid #444;
    cursor: pointer;
    width: 200px;
    height: 125px;
    text-align: left;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
}
#topicUnansweredScrollable td button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*border is optional*/
    border-bottom: 0px solid #444;
    cursor: pointer;
    width: 200px;
    height: 125px;
    text-align: left;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
}
#topicRecentlyAnsweredScrollable td button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*border is optional*/
    border-bottom: 0px solid #444;
    cursor: pointer;
    width: 200px;
    height: 125px;
    text-align: left;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
}
#questionsAskedScrollable td button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*border is optional*/
    border-bottom: 0px solid #444;
    cursor: pointer;
    width: 155px;
    height: 125px;
    text-align: left;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
}
#questionsAnsweredScrollable td button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*border is optional*/
    border-bottom: 0px solid #444;
    cursor: pointer;
    width: 155px;
    height: 125px;
    text-align: left;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
}
#answerTitle {
    position: absolute;
    margin-top: 85px;
    margin-left: 260px;
    width: 650px;
    height: 130px;
}
#answerTitle h1 {
    margin: 0px;
    height: 50px;
    width: 440px;
    font-size: 32px;
    border-bottom: 3px solid #0096d6;
}
#answerTitle h2 {
    margin-top: 60px;
    font-size: 24px;
}
#answerTitle h3 {
    margin-top: 0px;
    margin-left: 200px;
    font-size: 12px;
}
#questionAnswerBox {
    position: absolute;
    margin-top: 225px;
    margin-left: 260px;
    width: 650px;
    height: 340px;
}
#questionAnswerBox h1 {
    margin: 0px;
    height: 30px;
    width: 440px;
    font-size: 24px;
    border-bottom: 3px solid #0096d6;
}
#questionAnswerBox textarea {
    width: 650px;
    height: 300px;
    margin-top: 40px;
    font-size: 12px;
    resize: none;
    overflow-y: scroll;
    overflow-x: auto;
}